@charset "utf-8";
/* CSS Document */
body,p,ul,li,dl,dt,dd,h1,h2,h3,p{ padding:0; margin:0;font-family:'微软雅黑'; font-family: 'Microsoft YaHei'}
div{font-family:'微软雅黑'; font-family: 'Microsoft YaHei'}
body{ font-family:'微软雅黑'; font-family: 'Microsoft YaHei' }
a{ cursor:pointer; text-decoration: none;}
ul,li,dl,dd{ list-style: none;}
.ovh{ overflow: hidden;}
.tc{ text-align: center;}
.rel{ position: relative;}
.abs{ position: absolute;}
img{ display: block;}
.idxItem{ width:100%;/* min-width:750px;*/ height:700px;}
.idx1{ background:#eee url(../images/idx_1.jpg) no-repeat top center;}
.idx2{ background:#dbdbdb url(../images/idx_2.jpg) no-repeat top center;}
.idx3{ background:#eee url(../images/idx_3.jpg) no-repeat top center;}
.idx4{ background:#dbdbdb url(../images/idx_4.jpg) no-repeat top center;}
.main{ max-width: 1200px; /*min-width: 750px; */width: 90%; margin: auto; }
.idx5 .topimg{ height: 180px; width: 100%; background: url(../images/idx5.jpg) center no-repeat; margin-bottom: 10px;}
.idx5{ }
.info_bg{ height: 675px; width: 100%; background: url(../images/idxform_bg.jpg) no-repeat; margin-top: 30px;}
.info_title{text-align: center; color: #fff; padding-top: 95px; margin-bottom: 20px; }
.info_title p{ font-size: 30px; font-weight: bold; }
.info_title p + p{ font-size: 16px; font-weight: normal; margin-top: 10px;}
.info_main{ width: 420px; margin:auto;}
.info_main .row,.info_main .row1,.info_main .rowrmk{ margin-bottom: 15px; background: #fff; border-radius: 5px; height: 40px;}
.info_main .row1{ background: none;}
.info_main .row1 ul li{ float: left; display: inline-block;background: #fff; border-radius: 5px; height: 40px; color: #00afff; line-height: 40px; text-align: center; font-size: 14px; width: 130px; overflow: hidden; cursor: pointer;}
.info_main .row1 ul li+li{ margin-left: 15px;}
.info_main .row1 ul li.active{ background: #00afff; color: #fff;}
.info_main .row2 input{ width: 126px; padding:0 5px; float: left; border: none; line-height: 40px; outline: none; background: none;}
.info_main .row2 input+input{ border-left: #d5d5d5 1px solid;}
.info_main .rowrmk{ height: 120px;}
.info_main .row3 > div{ padding: 5px;}
.info_main .row3 > div input{ width: 100%; outline: none; border: none;}
.info_main .rowrmk > div{ padding: 6px;}
.info_main .rowrmk > div textarea{ width: 100%; height: 100px; border: none; line-height: 40px; outline: none; resize: none;}
.info_main .rsubmit button{ width:130px; height:38px; text-align: center; line-height: 38px; color: #fff;  background:#1789fd; border-radius: 5px; margin: auto; border: none; cursor: pointer; display: block;}
.navsef{ height:70px; line-height:70px; width:100%; background:#fff;}
.navsef .main >ul{  /*width:90%;*/ max-width:1120px; min-width:670px;height: 70px; margin:auto; padding-left:80px; /*overflow:hidden;*/ }
.navsef .main > .logo{ display: block; width: 60px; float: left; margin-left: -80px;}
.navbar-brand{ padding: 2px;}
.navbar{ margin-bottom: 0;}
.navsef .main > .logo img{ width: 100%; height: 50px; margin: 2px;}
.navbar-toggle .icon-bar{ background: #333;}
.nav li a{ color: #666; font-size: 14px;}
.navbar-brand img{ height: 50px; display: block; /*margin-top: -15px;*/}
.navsef .main > ul > li{ float:left; display:inline-block;padding:0 35px;}
.navsef .main > ul > li > a{ line-height:66px; display:inline-block; font-size:18px;  color:#666; }
.navsef .main > ul > li.drop{ background: url(../images/drop_arr.png) no-repeat right center; position: relative; }
.navsef .main > ul > li.drop .d_menu{ position: absolute; right: 0; top:100%; background: #fff; z-index: 100; border: #e0e0e0 1px solid;display: none;}
.navsef .main > ul > li.drop:hover .d_menu{ display: block;}
.navsef .main > ul > li.drop .d_menu >li{ line-height: 24px; border-bottom: #dbdbdb 1px dashed;}
.navsef .main > ul > li.drop .d_menu >li:last-child{ border-bottom: none;}
.navsef .main > ul > li.drop .d_menu >li > a{ padding: 0 10px; font-size: 14px; color: #666; display: block; width: 60px;}
.navsef .main > ul > li.drop .d_menu >li:hover{ background:#eee; }
.navsef .main > ul > li.drop .d_menu >li:hover a{ color: #333;}
.navsef .main > ul > li span > a{ display:inline-block; font-size:14px; background:#000; color:#fff; line-height:30px; padding:0 10px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; -webkit-border-radius:5px;}
.navsef .main > ul > li > a.active{ border-bottom:#666 3px solid; font-weight:bold;}
.navsef .main > ul > li > a:hover{ border-bottom:#999 3px solid; color: #999; transition: all ease .3s;}
.idxnav{ position:absolute; top:630px; bottom:20px; z-index: 100;}
.footer{ padding: 30px 0; background: #fff;}

.footer .main{ background: #fff;}
.footer .div1{ float: left; width: 180px;  }
.footer .div1 img{ display: block; width: 108px; margin: auto;}
.footer .div1 h1{ font-size: 26px; line-height: 36px; text-align: center;}
.footer .div1 h1 + p{ margin-top: 10px;}
.footer .div1 p{ text-align: center; font-size: 16px; color: #252525;}
.footer .div1 p.txteng{ font-size: 12px; padding: 0 15px;}
.footer .div2{ float:left; width:260px; margin-left: 60px; }
.footer .div2 h1,.footer .div3 h1  { color: #999; font-weight: normal; font-size: 20px; margin-top: 30px; margin-bottom: 20px;}
.footer .div2 .num{ font-weight: bold; color: #141414; font-size: 24px;}
.footer .div2 .tel{ color: #626262; font-size: 22px;}
.footer .div2 ul { margin-top: 15px;}
.footer .div2 ul li a{ display: block; font-size: 14px; line-height: 24px; color: #666;}
.footer .div2 ul li a:hover{ color: #333;}
.footer .div3{ float:right; margin-right: 80px; }
.footer .div3 img{ display: inline-block; margin-right: 15px; /*float:left;*/}
.idx_view{ /*width: 750px;*/ margin: auto;}
.idx_view li{ width: 50%;float:left; }
.idx_view li > .imgBox{ margin: 10px auto;  position: relative; overflow:hidden; width: 360px; height: 270px;}
.idx_view li > .imgBox img{ display: block; width: 100%;}
.idx_view li > .imgBox .shadowbg{ position: absolute; /*top: 10px; bottom: 10px; left: 10px; right: 10px;*/ width: 100%; height: 100%; background-color: #000; opacity: 0.8; filter:alpha(opacity=80); z-index: 10; top: 0; left: 0; display: none;}
.idx_view li > .imgBox .shadowbg a{ display: block; cursor: pointer; width: 100%; height: 100%;}
.idx_view li > .imgBox .shadowTxt{ top: 35%; position: absolute; z-index: 20; text-align: center; width: 100%; display: none;}
.idx_view li > .imgBox .shadowTxt h1,.idx_view li > div .shadowTxt h2{color: #fff; text-align: center; padding: 0 10px; }
.idx_view li > .imgBox .shadowTxt h2{ font-size: 14px; font-weight: normal;}
.idx_view li > .imgBox .shadowTxt h1{ font-size: 26px;}
.idx_view li > .imgBox .shadowTxt .line{ height: 2px; background: #fff; width: 20px; margin: auto; margin-top: 20px;}
.navbar-toggle{ background: #eee; outline: none;}
.imgBox{ /*margin-top: 15px; margin-bottom:15px;*/ overflow: hidden;}
.zoomImg_wrap .col-md-6{ margin-bottom: 15px; margin-top: 15px; }
.imgBox img{display: block; width: 100%;}
.imgBox .shadowbg{ position: absolute; /*top: 10px; bottom: 10px; left: 10px; right: 10px;width: 100%; height: 100%;*/  background-color: #000; opacity: 0.8; filter:alpha(opacity=80); z-index: 10; top: 0px; left: 15px; right: 15px; bottom: 0px; display: none;}
.imgBox .shadowTxt{ top: 35%; position: absolute; z-index: 20; text-align: center;  left: 15px; right: 15px; display: none;}
 .imgBox .shadowTxt h1,.imgBox .shadowTxt h2{color: #fff; text-align: center; padding: 0 10px; }
 .imgBox .shadowTxt h2{ font-size: 14px; font-weight: normal; margin-bottom: 10px;}
 .imgBox .shadowTxt h1{ font-size: 26px;}
 .imgBox .shadowTxt .line{ height: 2px; background: #fff; width: 20px; margin: auto; margin-top: 20px;}
.mauto{ display: block; margin: auto;}
.footer h3.title{ color: #999; margin-top: 20px; margin-bottom: 10px;}
.footer a{ text-decoration: none; color: #666;}
.footer a:hover{ color: #069;}
.footer .f_ul1{ overflow: hidden; }
.footer .f_ul1 li{ float: left; }
.form_group input,.form_group textarea{ border: #eee 1px solid;}
.form_group textarea{ resize:vertical; }
.form-group .nopad{ padding-left: 0; padding-right:0;}
.form1{ max-width: 550px; margin:auto;}
.form1 .form-group{ margin-bottom: 10px;}
.form_bg{ background: #fff; border-radius: 6px; -moz-border-radius:6px; -webkit-border-radius:6px;}
.form1_wrap{ background: url(../images/idxform_bg.jpg) no-repeat;}
.form1_wrap h3,.form1_wrap h5{ color: #fff;}
.log_btn{ top:10px; width: 100%;}
.log_btn a{ color: #fff; font-size: 14px; padding: 0 15px; display: inline-block;}
.log_btn a + a{ border-left: #fff 1px solid;}
.form_log{ max-width: 500px;}
.form_log .form-group{ overflow: hidden;}
.c9{ color: #999;}
/*更多案例start*/
.nav_pre{ position: relative;}
.nav_pre .wrap{ position: absolute; height: 16px; top: 10px; }
.loginBox{ display: inline-block; float:right;}
.loginBox a{ color: #fff; font-size: 14px; padding: 0 10px;  text-decoration: none; line-height: 16px;}
.loginBox a + a{ border-left: #fff 1px solid;}
.nav_pre img{ width: 100%; /*min-width: 750px;*/}
.fullWid { display: block; width: 100%; background: #fff; /*min-width: 750px;height: auto;*/  }
.fullImg{ width:100%; min-width: 100%}
.fullWid.footerbg{ background: #eee; }
/*.fullWid img{ display: block; width: 100%; min-width: 750px;/*height: auto; height: 750px;}*/
.moreban_abs{ position: absolute; width: 100%; bottom: 0; background-color: #000; opacity: 0.6; filter:alpha(opacity=60); }
.moreban_abs .main > div{ padding: 10px; color: #fff; text-align: center;}
.moreban_abs .main > div h1{ font-size: 20px; margin-bottom: 10px;}
.moreban_abs .main > div p{ font-size: 14px; line-height: 22px;}
.moreban_abs .main > div p a.c_btn{ display:block; font-size: 14px; color: #fff; width: 90px; text-align: center; height: 22px; line-height: 22px; border: #fff 1px solid; border-radius: 22px; -moz-border-radius: 22px; -webkit-border-radius: 22px; -o-border-radius:22px; margin: auto; margin-top: 7px; font-weight: bold;}
.moreban_abs .main > div p a.c_btn:visited{ color: #fff;}
.moreban_abs .main > div p a.c_btn:hover{ background: #fff; color: #000; transition: background ease .2s;}

.anliul{ margin-top: 30px;}

.anliul li{ margin-bottom: 30px;}
.anliul li img{ width: 100%; margin-bottom: 20px;}
.anliul li .txtBox p{ text-align: center; font-size: 14px; line-height: 24px;}
.anliul li .anlibtn{ display: inline-block; margin: auto; height: 26px; line-height: 26px; background: #670001; color: #fff; padding: 0 20px; font-size: 14px; margin-top: 12px; border-radius: 26px; -moz-border-radius:26px; -ms-border-radius:26px; -o-border-radius:26px;}
.anliul li .txtBox p i{ font-style: normal; color: #8b0102;}
.anliul li .anlibtn:hover{ background: #990102; transition: all ease .6s;}
.wrap{ width: 100%; clear: both;}
.dzImg_wrap li{ width: 33%; float:left;}
.dzImg_wrap li .padBox{ margin: 10px;}
.dzImg_wrap li .imgBox{ overflow: hidden;position: relative;}
.dzImg_wrap li .imgBox a{ display: block; overflow: hidden; }
.dzImg_wrap li .imgBox img{ display: block; width: 100%;}
.dzImg_wrap li .txtBox h1{ text-align: center; color: #670001; border-bottom: #dddddd 1px solid; font-size: 14px; padding: 8px 0;}
.dzImg_wrap li .txtBox .content{ color: #949494; font-size: 12px; height: 108px; overflow: hidden; margin-top: 8px;}
.dzImg_wrap li .imgBox a .shadowbg2{ position: absolute; background-color: #000; opacity: 0.5; filter:alpha(opacity=50); z-index: 10; width: 100%; height: 50%; top: 25%; left: 0;}
.dzImg_wrap li .imgBox a .shadowTxt2{ width: 100%; height: 50%; top: 25%; z-index: 20; position: absolute; }
.dzImg_wrap li .imgBox a .shadowTxt2 h1{ color: #fff; font-size: 18px; text-align: center; margin-bottom: 5px; height: 50%; /*vertical-align: middle; */  /*display: table;vertical-align: middle;*/ }
.dzImg_wrap li .imgBox a .shadowTxt2 h1 span{ display: block; height: 100%; line-height: 100%; padding-top: 10%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 22px;}
.dzImg_wrap li .imgBox a .shadowTxt2 .row span{ display: inline-block; width: 50%; color: #fff; text-align: center; font-size: 16px; float: left;}
.dzImg_wrap li .imgBox a .shadowTxt2 .row span b{ color: #fff;}
.dzImg_wrap li .imgBox a .shadowTxt2 .row span i{ display: inline-block; margin-right: 5px; width: 20px; height: 20px; background-size: 100% 100%; vertical-align: middle;}
.icon_riqi{ background: url(../images/icon_rili.png) no-repeat center;}
.icon_num{ background: url(../images/icon_num.png) no-repeat center;}
/*------更多案例end------*/

/*------案例详情start------*/
.caseBox{ width: 100%; float:left;}
.caseBox .mainBox{ margin-right: 340px;}
.caseSlide{ float: right; margin-left: -300px; width: 300px;}
.club_text {width: 100%; text-align: justify;}
.case_detail_img{ width: 80%; margin-bottom: 10px; }
.active_pic{width: 100%; overflow: hidden;margin: 20px 0px;}
.active_pic img{width: 100%;}
.recommend {width:100%}
.recommend_place {
	background-color: #ffffff;
	transition: 0.5s;
	position: relative;
	top: 0px;
	margin-bottom: 35px;
	border: 1px solid #eaeaea;
}
.recommend_place:hover{box-shadow: 0 8px 10px 0 rgba(0,0,0,.19);top: -4px;}
.recommend_pic {width: 100%;overflow: hidden;}
.recommend_pic img {width: 100%;}
.recommend_text {overflow: hidden;}
.recommend_title {text-align: center;color: black;font-size: 14px;display: block;line-height: 20px;}
.recommend_info {text-align: center;color: #7c7c7c;font-size: 12px;display: block;height: 32px;line-height: 16px; padding:10px; overflow: hidden;}
.case_detail_pic{width: 100%;overflow: hidden;margin-bottom: 50px;}
.case_detail_pic img{width: 100%;}
.case_detail_pic_font{
	height: 80px;
	padding: 15px 0px;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: relative;
	top: -110px;
	color: white;
}
.case_detail_pic_title{
	text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-bottom: 8px;
}
.case_detail_pic_text{
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.571;
  text-align: center;

}
.case_detail_text{
  font-size: 14px;
  color: rgb(89, 89, 89);
  line-height: 1.929;
  text-align: justify;
  margin-bottom: 25px;
}
/*------案例详情end------*/

.fullWid.fbrand{position: relative; width: 100%; /*min-width:750px;*/ height: 750px; background-position:top center; background-repeat: no-repeat ;}
.fullWid .m_wrap{ position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.fullWid .m_wrap .main{ position: relative; height: 100%;}

/*------品牌理念start--------*/
.brandPos{ position: absolute;}
.brandPos.privtWid p,.brandPos.privtWid h1,.brandPos.privtWid h2{ width: 450px; text-align: center;}
.brandPos.cWhite *{ color: #fff;}
.brandPos.cBlack *{ color: #000;}
.brandPos.cBlue *{ color: #004299;}
.brandPos.cGreen *{ color: #63d700;}
.privtWid.privtbg{ padding: 20px 0; background: url(../images/alpha1.png);}
.brandPos h1{ font-size: 36px; line-height: 46px; margin-bottom: 15px;}
.brandPos h2{ font-size: 22px; line-height: 30px; margin-bottom: 8px;}
.brandPos .p_wrap{ margin-bottom: 15px;}
.brandPos p{ font-size: 12px; line-height: 16px;}
.brandPos.pos1{ top: 25%; width: 100%;  }
.fullWid .m_wrap .main .brandPos.pos1 *{width: 100%; text-align: center;}
.fullWid .m_wrap .main .brandPos.pos1 .brandxian{ height: 5px; background: #fff; width: 160px; margin:12px auto;}
.brandPos.pos2{ top: 20%; left:20px;}
.brandPos.pos3{ top: 8%; left:20px;}
.brandPos.privtWid .privtBtn{ display: inline-block; line-height: 30px; padding: 0 15px; margin-top: 15px; border-width: 1px; border-style: solid;  border-radius: 30px; -moz-border-radius:30px; -o-border-radius:30px; -webkit-border-radius:30px;}
.privtWid.cBlack .privtBtn:hover{ background: #000; border-color: #000; color: #fff; transition: background ease 1s;}
.privtWid.cWhite .privtBtn:hover{ background: #fff; border-color: #fff; color: #000; transition: background ease 1s;}
.privtWid.cBlue .privtBtn:hover{ background: #004299; border-color: #004299; color: #fff; transition: background ease 1s;}
.privtWid.cGreen .privtBtn:hover{ background: #63d700; border-color: #63d700; color: #fff; transition: background ease 1s;}
/*------品牌理念end--------*/

/*------热门活动start--------*/
.marg_wrap{ /*width: 100%;*/ margin-right:-10px; margin-left: -10px; /*background: #004299;*/ }
.actv_one{ margin-top: 20px;}
.actv_one .link,.actv_list li .padBox .link{ display: block; text-decoration: none;}
.actv_one .link .imgBox{ position: relative;}
.actv_one .link .imgBox img{ width: 100%;}
.a_onePos{ position: absolute; bottom: 0; overflow: hidden; padding:10px;}
.a_onePos .ctentL{ width: 85px; float: left;}
.a_onePos .ctentL img{ width: 100%;}
.a_onePos .ctentL span{ width: 100%; display: block; font-size: 12px; line-height: 16px; color: #000; text-align: center;}
.a_onePos .ctentR{ padding-top: 20px; margin-left: 100px;}
.a_onePos .ctentR p{ color: #fff; font-size: 22px; line-height: 36px;}
.actv_list{ margin-bottom: 20px;}
.actv_list li{ float: left; /*width: 50%;*/ margin-bottom: 20px;}
.actv_list li .padBox{ /*padding:10px;*/}
.actv_list li .padBox .link .imgBox{ background: #eee; min-height: 200px;}
.actv_list li .padBox .link .imgBox img{ width: 100%;  min-height: 200px; background: #eee; opacity: 0; filter: alpha(opacity=0);}
.actv_list li .padBox .link .btmBox,.actv_one .link .btmBox{ padding: 10px; background: #fff; color: #000; font-size: 14px; line-height: 20px; height: 60px;} 
.actv_one { margin-bottom: 20px; }
.actv_list li .padBox .link:hover .btmBox{ background: #660000; color: #fff; transition: background ease .5s;}
.actv_one .link:hover .btmBox{ background:#ff9191; color: #fff; transition: background ease .5s; }
/*------热门活动end--------*/

/*------主题旅行start--------*/
.bd_bg1{ background: #f5f5f5;}
.halfCtent li{ float: left; }
.halfCtent li.col-md-6{ padding-left: 0; padding-right: 0; }
.halfCtent li .imgBox img{ width: 100%; }
.halfCtent.themeHalf{ margin-bottom: 30px;}
.halfCtent.themeHalf li .link{ display: block;}
.halfCtent.themeHalf li .link .imgBox{ position: relative;}
.halfCtent.themeHalf li .link .imgBox .txtbg{ width: 100%; height: 36px; background: #000; opacity: 0.5; filter:alpha(opacity=50); z-index: 10; position: absolute; bottom: 0;}
.halfCtent.themeHalf li .link .imgBox .txt{ width: 100%;  height: 36px; line-height: 36px; color: #fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; z-index: 20; position: absolute; bottom: 0;}
.halfCtent.themeHalf li .link .imgBox .txt div{ display:block;padding:0 15px;}
.halfCtent.themeHalf li .link .imgBox .f_shadowbg{ width: 100%; height: 100%; position: absolute; top: 0; background: #000; opacity: 0.6; filter: alpha(opacity=60); z-index: 10; display: none;}
.halfCtent.themeHalf li .link .imgBox .f_shadowTxt{ display:block; position: absolute; z-index: 20; top: 0; color: #fff; font-size: 30px; top: 40%; width: 100%; text-align: center;}
.halfCtent.themeHalf li:nth-child(2n+1) .link .imgBox .shadowTxt div{ text-align: right;}
.halfCtent.themeHalf li:nth-child(2n) .link .imgBox .shadowTxt div{ text-align: left;}
/*------主题旅行end--------*/

/*------目的地start--------*/
.mapWrap{ width: 100%; /*min-width: 750px;*/ }
.mapWrap .imgBox{ width: 100%; position: relative; display: block;}
.mapWrap .imgBox img{ width: 100%;}
.m_point{ display: block; width: 1.8%; height: 2.4%; position: absolute;}
.m_point.m1{ left: 57%; top:85%;}
.m_point.m2{ left: 47%; top:69%;}
.m_point.m3{ left: 72.6%; top:72.1%;}
.m_point.m4{ left: 77.5%; top:62.4%;}
.m_point .imgBox{ position: relative;width: 100%; height:100%; bottom: 0; overflow:visible; }
.m_point .imgBox img{ width: 20px; position: absolute;margin-left: -10px;}
.m_point .imgBox .cTent{ display: none; width: 70px; text-align: center; height: 24px; line-height: 24px; position: absolute; top: -20x; left: 50%; margin-left: -45px; padding: 0 5px; color: #fff; background: #ff0000; border-radius: 5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;  }
/*------目的地end--------*/

/*------目的地选择start--------*/
.dchoose_one { margin-bottom: 20px;}
.dchoose_one .imgBox { overflow: hidden;}
.dchoose_one .imgBox img{ width: 100%;}
.dchoose_one .imgBox { position: relative;}
.dchoose_one .imgBox .shadowbg{ background: #000; opacity: 0.5; position: absolute; z-index: 10; filter:alpha(opacity=50); width: 100%; height: 100%; top: 0; display: none; left: 0; right:0; bottom:0; }
.dchoose_one .imgBox .shadowTxt{ width: 100%; position: absolute; z-index: 20; display: none;  top: 30%;}
.dchoose_one .imgBox .shadowTxt h1{ font-size: 18px; color: #fff; text-align: center;padding: 0 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dchoose_one .imgBox .shadowTxt h2{ font-size: 36px; height: 50px; color: #fff; text-align: center;padding: 0 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dchoose_list li{ background: #fff; box-shadow: 0 3px 3px #e0e0e0; /*height: 300px;*/ overflow: hidden; margin-bottom: 20px; position: relative;}
.dchoose_list li .imgBox{ /*width: 500px; float: left;*/}
.dchoose_list li .imgBox img{ width: 100%;}
.dchoose_list li .mainR { /*margin-left: 500px;*/ height: 100%; }
.dchoose_list li .mainR .innerBox{padding: 15px;}
.dchoose_list li .mainR h1{ font-size: 20px; padding-bottom: 12px; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; border-bottom: #e7e7e7 1px dashed;}
.dchoose_list li .mainR h1 .day{ color: #ff9191; padding: 0 6px;}
.dchoose_list li .mainR .name{ display: inline-block; height: 28px; line-height: 28px; background: #ff9191; color: #fff; padding: 0 15px; margin-bottom: 18px; margin-top: 10px; border-radius: 5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.dchoose_list li .mainR .detail{ color: #909090; height: 90px; line-height: 30px; margin-right: 140px; overflow: hidden;}
.dchoose_list li .mainR .price{ position:absolute; right:15px; bottom: 15px; width: 250px; font-size: 14px; text-align: right;}
.dchoose_list li .mainR .price span{ font-size: 32px; color: #ff9191; font-weight: bold;}
.dlist_crumbs{ height: 28px; line-height: 28px;}
.dlist_crumbs label{ caption-side: #ff9191;}
.dlist_crumbs span{}
.condition_Box{ background: #fff; box-shadow: 0 3px 3px #e0e0e0; margin-bottom: 20px;}
.condition_Box > .mainBox{ padding: 10px;}
.condition_item{ overflow: hidden; color:#646464;}
.condition_item .label{ display: block; float:left; line-height: 28px;}
.condition_item .mainR{ margin-left: 100px;}
.condition_item .label i{display: inline-block; vertical-align: middle; width: 24px; height: 24px;}
.icon_loc{  background: url(../images/icon_loc.png) no-repeat; }
.icon_date{ background: url(../images/icon_date.png) no-repeat;}
.icon_theme{ background: url(../images/icon_theme.png) no-repeat;}
.condition_item  + .condition_item { margin-top: 8px; padding-top: 8px; border-top: #dbdbdb 1px dashed;}
.condition_item .mainR { overflow: hidden;}
.condition_item .mainR .itemBox{ overflow: hidden;}
.condition_item .mainR .itemBox.areaitem{/* width: 50%; float:left;*/}
.condition_item .mainR .itemBox { font-size: 14px;} 
.condition_item .mainR .itemBox span {float:left; display: inline-block; line-height: 30px;}
.condition_item .mainR .itemBox span label{width: 40px; padding: 0 2px; text-align: center; line-height: 20px;  display: inline-block;  }
.condition_item .mainR .itemBox span label.active,
.condition_item .mainR .itemBox.dateitem a.active{ background: #ff9191; color: #fff; border-radius: 3px;  -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px;}
.condition_item .mainR .itemBox .mainBox{ line-height: 30px; margin-left: 60px; margin-right: 15px;} 
.condition_item .mainR .itemBox .mainBox a{ display: inline-block; margin-right: 15px; color:#646464;}
.condition_item .mainR .itemBox .mainBox a.active{ color: #ff9191;}
.condition_item .mainR .itemBox .mainBox a:hover,
.condition_item .mainR .itemBox.dateitem a:hover{color:#f09999;}
.condition_item .mainR .itemBox.dateitem a.active:hover{color:#fff;}
.condition_item .mainR .itemBox.dateitem{ line-height: 30px;}
.condition_item .mainR .itemBox.dateitem a{padding: 0 5px; line-height: 20px; margin-right: 15px; color:#646464;}
/*------目的地选择end--------*/

/*------目的地购买start--------*/
.order_wrap{ width: 100%; float:left;}
.owrap_main{ margin-right: 35%;}
.owrap_main .innerBox{ width: 100%;  }
.owrap_main .innerBox .imgBox{ background: #fff;padding: 10px; border: #e0e0e0 1px solid; margin-right: 20px; box-shadow: 0 3px 3px #ccc;}
.owrap_main .innerBox .imgBox img{ width: 100%;}
.order_slider{ float: right; margin-left: -35%; width: 35%;}
.order_slider .topBox .padBox{ padding: 15px;}
.order_slider .topBox{ background: #fff; box-shadow: 0 3px 5px #ccc; border: #e0e0e0 1px solid;}
.order_slider .topBox .priceBox{ overflow: hidden; margin-bottom: 20px;}
.order_slider .nameBox h1{ color: #2c2c2c; font-size: 28px; line-height: 36px;}
.order_slider .nameBox h2{ color :#9c9b9b; font-size: 12px;}
.order_slider .priceBox .price{ color: #545454; font-size: 16px; display: inline-block; float:left;}
.order_slider .priceBox .price b{ color: #d81a1a; font-size: 28px; }
.order_slider .priceBox .crumbs{ display: inline-block; color: #670001; font-size: 12px; float: right;}
.order_slider .order_btn{ display: block; width: 100%; height: 38px; line-height: 38px; background: #670001; color: #fff; font-size: 16px; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px;}
.order_slider .ordernum_box{ color: #383838; font-size: 16px; margin-top: 10px;}
.order_slider .ordernum_box span{ color: #670001;}
.order_slider .btm_crumbs p{ color: #787878; font-size: 14px; line-height: 20px; padding-bottom: 8px; margin-bottom: 10px;}
.order_slider .btm_crumbs ul li{ display: inline-block; font-size: 12px; line-height: 12px; margin-right: 10px; padding:5px 8px; background: #c1c1c1; color: #fff; float:left; border-radius: 3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin-bottom: 10px;}
.order_slider .btmBox .crumbs{ padding: 10px;}
.order_slider .btmBox .crumbs p{ color: #787878; font-size: 18px; margin-bottom: 5px;}
.order_slider .btmBox .crumbs p b{ color: #670001; font-size: 20px;}
.hspace20{ height: 20px; clear: both;}
.hspace40{ height: 40px; clear: both;}
.order_title{ color: #2b2929; font-size: 20px; padding-left: 10px; margin-top: 15px;}
.order_box{ margin-top: 15px;}
.order_box .padBox{padding: 15px; background: #fff; box-shadow: 0 3px 3px #ccc; overflow: hidden;}
.route_list{ overflow: hidden;}
.route_list li{ float:left; margin: 10px;  text-align: left;}
.route_list li .mainBox{ width: 260px;background: #f5f5f5; border-radius: 5px; -moz-border-radius: 5px; -o-border-radius:5px; -webkit-border-radius:5px; box-shadow: 0 3px 3px #ccc; overflow: hidden;}
.route_list li .mainBox .imgBox img{ width: 100%;}
.route_list li .mainBox .btmBox{ margin-top: 5px; font-size: 12px; padding: 0 7px; line-height: 18px; height: 54px; color: #2b2929;}
.dayplan{ padding: 0 60px;}
.dayplan .planItem{ display: none;}
.dayplan .planItem:first-child{ display: block;}
.dayplan .iconBox{ width: 33.3%; float: left; overflow: hidden;}
.dayplan .iconBox i{ display: inline-block; width: 40px; height: 40px; float:left;}
.dayplan .iconBox i.icon_loc2{ background: url(../images/icon_loc2.png) no-repeat;}
.dayplan .iconBox i.icon_room{ background: url(../images/icon_room.png) no-repeat;}
.dayplan .iconBox i.icon_food{ background: url(../images/icon_food.png) no-repeat;}
.dayplan .iconBox p{ font-size: 16px; line-height: 22px; margin-top: 10px; margin-left: 50px;}
.dplanTxt div{ color: #696969; font-size: 14px; line-height: 20px;}
.dplanTxt .flight label{ display: inline-block; float: left; width: 70px; font-size: 14px;}
.dplanTxt .flight div{ margin-left: 70px;}
.dp_imgBox{/* width: 100%;*/ margin-left: -5px; margin-right: -5px;}
.dp_imgList {   overflow: hidden;}
.dp_imgList li{float:left; width: 25%;}
.dp_imgList li .imgBox{ padding: 5px; }
.dp_imgList li .imgBox img{ width: 100%;}
.tab_top ul{ overflow: hidden;}
.tab_top ul li{ margin-right: 20px; float: left;} 
.tab_top ul li a{ display: inline-block; font-size: 16px; color:#2b2929; line-height: 32px;}
.tab_top ul li.active a{ color: #800002; border-bottom: #800002 1px solid;}
.tab_btm .mainItem{ overflow: hidden; display: none;}
.tab_btm .mainItem:first-child{ display: block;}
.price_con .halfBox{ width: 50%; overflow: hidden; float: left;}
.price_con .halfBox .mainBox{ padding: 10px;}
.price_con .halfBox .mainBox .partItem{ margin-bottom: 25px;}
.price_con .halfBox .mainBox .partItem h1,.price_con .title{ color: #800002; font-size: 15px; line-height: 20px; margin-bottom: 8px; font-weight: normal;}
.price_con .title{ padding: 0 10px;}
.price_con .halfBox .mainBox .partItem p{ color: #8c8c8c; font-size: 14px; line-height: 20px;}
.price_con .halfBox .mainBox .notice1 p{ color: #8c8c8c; font-size: 14px; line-height: 22px; text-indent: 24px; margin-bottom: 15px; }
.price_con .halfBox .mainBox .notice2 p{ color: #8c8c8c; font-size: 14px; line-height: 18px;}
.planaxisWrap{ padding: 0 60px;}
.planaxisBox{ height: 18px; margin-left:9px; margin-right:9px;margin-bottom: 20px; margin-top: 20px; position: relative; }
/*.plan_day{ margin-bottom: 15px;}*/
.plan_day .dayItem{ display: inline-block; text-align: center; /*margin-left: 50%;*/ font-size: 12px; line-height: 16px; min-height: 16px;}
.planaxis{ width: 100%; height: 1px; background: #800002; margin-top: 9px; position: relative;}
.axisItem{ width: 18px; height: 18px; position: absolute; cursor: pointer; top: -9px; background: url(../images/paxis.png); margin-left: -9px;}
.axis_prev,.axis_next{ width: 30px; height: 30px; position:absolute; display: block; top: -12px;}
.axis_prev{ left: -50px; background: url(../images/icon_arrl.png);}
.axis_next{ right: -50px; background: url(../images/icon_arrr.png);}
.axisItem.active{ background: url(../images/paxis2.png);}

/*------目的地购买end--------*/

/*---弹窗start---*/
.fp_shasowbg{ background: #000; opacity: 0.5; filter:alpha(opacity=50); position: fixed; top: 0; bottom: 0; width: 100%; z-index: 100; display: none;}
.win_wrap{ background: #fff; margin: auto; border-radius: 5px; -moz-border-radius: 5px; -o-border-radius:5px; -webkit-border-radius:5px; position: absolute; z-index: 200; display: none;}
.win_padBox{ padding: 15px; padding-top: 40px; position: relative;}
.win_close{ display: block; width: 24px; height: 24px; background: url(../images/close.png); position: absolute; top:10px; right: 15px; cursor: pointer; z-index: 300;}
.win_title1{ font-size: 18px; color:#800103; padding-bottom:12px ; border-bottom: #ccc 1px solid; text-align: center; font-weight: bold; margin-bottom: 15px;}
.od_info{ overflow: hidden; margin-left: -10px; /*width: 750px;*/ margin-bottom: 25px;}
.od_info .itemBox { display: inline-block; float:left; overflow: hidden;}
.od_info .itemBox label{ display: inline-block; width: 100px; float:left; text-align: right;}
.od_info .itemBox .inputBox1,.od_info .itemBox .inputBox2{border: #ccc 1px solid; float: left;}
.od_info .itemBox .inputBox1 input,.od_info .itemBox .inputBox2 input
{ width: 120px; height: 28px; padding: 0 5px; border: none; outline: none;}
.od_info .itemBox .inputBox1:focus{ border: #999 1px solid;}
.od_info .itemBox .inputBox1:hover,.od_info .itemBox .inputBox2:hover{ border: #999 1px solid;}
.od_info .itemBox{ margin-left: 10px; margin-bottom: 15px;}
.od_info .itemBox .inputBox2 input{ width:100px;}
.od_info .itemBox .inputBox2 span{ display: inline-block; width: 20px; font-size: 14px; color: #333;}
.od_rsBox{ float:right; padding: 10px 10px 10px 40px; border: #680102 1px solid;}
.od_rsBox .row{ color: #959595; line-height: 20px; font-size: 14px;}
.od_rsBox .row:first-child{ margin-bottom: 12px;}
.od_rsBox .row label{ color: #2c2c2c; margin-right: 5px; display: inline-block;}
.od_rsBox .row .msty{ accelerator: #767676; font-size: 20px;}
.od_rsBox .row .price{ color: #680102; font-size: 28px;}
.od_btn{ display: inline-block; float: right; background: #680102; color: #fff; font-size: 14px; padding: 0 20px; line-height: 30px;}
.clearfix{ overflow: hidden; clear: both;}
.clearfix:after{ display: block; content: '.'; clear: both; height: 0; overflow: hidden;}
.bank_box{ overflow: hidden; width: 600px;}
.bank_item{ float:left; line-height: 40px; width: 200px; height: 40px; overflow: hidden; margin-bottom: 20px;}
.bank_item .input_box{ width: 20px; display: block; height: 40px; float:left;}
.bank_item .input_box input[type='radio']{ line-height: 40px; vertical-align:middle;padding-top:10px;}
.bank_item .main_box{ width: 150px; height: 40px;}
.bank_item .main_box .icon{ width: 40px; display: inline-block; margin-left: 10px;}
.bank_item .main_box .text{ font-size: 14px; display: inline-block; width:100px; padding:0 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 40px;}
.zf_title{ font-size: 18px; padding: 12px 0; color: #666;}
.block{ display: block; }
/*---弹窗end---*/

.aclub{ display: block; text-decoration: underline; font-weight: bold;color: #670001; font-size: 18px; text-align: center; padding-top:-10px; padding-bottom: 10px;}
.aclub:hover{ color: #990002;}
/*-----登录页面样式开始-------*/
.login_content{
	width: 100%;
	margin: 0 auto;	
}
.login_contet:after{
	content:"";
	display: block;
	height: 0;
	clear: both;
}
.login_left{
	width: 60%;
	float: left;
	
}
.login_title{
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: rgb(52, 52, 52);
  line-height: 1.125;
  margin: 50px 0px 20px 0px;

}
.login_form{
		margin-left: 20%;
		margin-top: 50px;		
		float: left;
}
.login_form label{
	display:block;
	margin-bottom: 30px;
	text-align: right;
	position: relative;
	
}
.login_form input{
	border-radius: 2px;
  border-width: 1px;
  border-color: rgb(189, 189, 189);
  border-style: solid;
 	line-height: 35px;
 	height: 20px;
  background-color: rgb(254, 255, 255);
  margin-left: 20px;
}
.auto_login{
	font-size: 12px;
	position: relative;
	left: -22px;
	margin-bottom: 15px !important;
	
}

.auto_login input{
	position: relative;
	top: 6px;
	margin-bottom: 0px;
}
.login_btn{
position: relative;
left: 60px;
  border-radius: 2px;
  background-color: rgb(103, 0, 1);
  width: 85px;
  height: 32px;
  border: none;
  outline: none;
  color: white;

  font-size: 14px;

}
.reg_btn{
position: relative;
left: 90px;
  border-radius: 2px;
  background-color: rgb(103, 0, 1);
  width: 85px;
  height: 32px;
  border: none;
  outline: none;
  color: white;

  font-size: 14px;

}
.login_btn:hover{
	cursor: pointer;
}
.login_right{
	width: 40%;
	float: left;
	padding-top: 100px;
}
.login_right div{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: rgb(142, 142, 142);
  line-height: 1.929;
}
.login_right div a{ color: #990002;}
/*-------登录页面样式end-------*/
@media screen and (max-width: 1105px) {
	.nav .main > ul > li{padding:0 30px;}
	.footer .div3{ margin-right: 0;}
	.footer .div3 img{ width: 120px; margin-right: 10px;}
}

@media screen and (max-width: 1040px) {
	.nav .main > ul > li{padding:0 25px;}
	/*.dchoose_list li .imgBox{ width: 350px;}
	.dchoose_list li .mainR{ margin-left: 350px;}*/
}
@media screen and (max-width: 950px) {
	.nav .main > ul > li{padding:0 20px;}
	.nav .main > ul > li > a{ font-size: 16px; line-height: 62px;}
	.nav .main > ul > li span > a{ padding: 0 5px;}
	.footer .f1_line::after{ content: ''; display: block; height: 1px; border-bottom: #ddd 1px dashed; }
}
@media screen and (max-width: 750px) {
	/*.dchoose_list li .imgBox{ width: 280px;}
	.dchoose_list li .mainR{ margin-left: 280px;}
	.dchoose_list li .mainR h1{ font-size: 16px;}*/
	.dchoose_list li .mainR .name{ font-size: 14px; height: 20px; line-height: 20px; padding: 0 8px; margin-bottom: 8px;}
	.dchoose_list li .mainR .detail{ line-height: 20px; font-size: 12px; height: 60px; margin-right: 110px;}
	.dchoose_list li .mainR .price span{ font-size: 26px;}
	.footer h3.title{ font-size: 16px; }
	.footer h2{ font-size: 20px; }
}
@media screen and (max-width: 875px) {
	.footer .div1{ width: 100%; padding-bottom: 20px; border-bottom: #b3b3b3 1px dotted;}
	.footer .div1 img{ width: 100px; float: left; margin-left: 50px;}
	.footer .div1 h1{ font-size: 18px; line-height: 24px;}
	.brandPos h1{ font-size: 24px; line-height: 26px; margin-bottom: 5px;}
	.brandPos h2{ font-size: 18px; line-height: 22px; margin-bottom: 5px;}
	.brandPos p{ font-size: 12px; line-height: 14px;}
	.brandPos.privtWid .privtBtn{ line-height: 24px; padding: 0 8px;}
	.footer .div2 ul{ margin-top: 0; overflow: hidden;}
	.footer .div2 ul li{ width: 50%; float: left;}
	.footer .div2 ul li a{ width: 100px;}
	.caseBox .mainBox{ margin-right: 260px;}
	.caseSlide{ width: 240px; margin-left: -240px;}
}
/*@media screen and (max-width: 680px) {
	.footer .div2{ margin-left: 0;}
	.footer .div2 .num{ font-size: 16px;}
	.footer .div2 .tel{ font-size: 16px;}
	.footer .div2 h1, .footer .div3 h1{ font-size: 16px; margin-bottom: 10px; margin-top: 10px;}
}
@media screen and (max-width: 600px) {
	.footer .div1 img{ margin-left: 20px; width: 70px;}
	.footer .div2{ width: 100%;}
	.footer .div3{ float:left; width: 100%;}
	.footer .div3 > div{ text-align: center;}
	.footer .div2 ul{ margin-top: 0; overflow: hidden;}
	.footer .div2 ul li{ width: 50%; float: left;}
	.footer .div2 ul li a{ width: 100px;}
	.footer .div3 img{ width: 90px;}
	.nav ul .logo{ width: 40px; margin-left: -50px; margin-top: 20px;}
	
}
/*@media screen and (max-width: 610px) {
	.nav ul li > a{ font-size: 14px; line-height: 60px;}
	.nav ul li span > a{ line-height: 22px; font-size: 12px; padding: 0 5px;}
	.moreban_abs .main > div{ padding: 5px;}	
	.moreban_abs .main > div h1{ font-size: 14px; margin-bottom: 3px;}
	.moreban_abs .main > div p{ font-size: 12px; line-height: 18px;}
}
@media screen and (max-width: 560px){
	.nav ul { padding-left: 50px;}
	.nav ul li{ padding: 0 4px;}
	.nav ul li > a{ font-size: 12px;}
}
@media screen and (max-width: 420px){
	.nav ul { padding-left: 0px;}
	.nav ul li{ padding: 0 2px;}
	.nav ul li span > a{ padding: 0 1px; line-height: 20px;}
}*/